<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    {% load static %}		<!-- agregar estatic-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
    <title>Mostrar Fecha y Hora</title>
</head>
<body>
    <div class='container p-5'>
        <div class='row'>
            <div class='col-md-4'></div>
                <div id='texto' class='col-md-4 bg-primary p-3'>
                    <p class='text-white'>La Fecha y Hora actual es:</p>
                </div>
            </div>
            <div class='col-md-4'></div>
        </div>
        <div class="row">
            <div class='col-md-4'></div>
                <div id='fecha' class='col-md-4 bg-success p-3'>
                    <p class='text-white'>{{date}}</p>
                    <p class='text-white'>{{time}}</p>
                </div>
            </div>
            <div class='col-md-4'></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>